<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}Affiliate-Dashboard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{% trans %}Affiliate-Dashboard{% endtrans %}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('sale_add') }}">{% trans %}Upload XML report{% endtrans %}</a></li>
                    <li><a href="{{ path('sale_index') }}">{% trans %}Sales{% endtrans %}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Statistics{% endtrans %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('chart_overview') }}">{% trans %}Overview{% endtrans %}</a></li>
                            <li><a href="#">Another action</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Manage{% endtrans %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_index') }}">{% trans %}Users{% endtrans %}</a></li>
                            <li><a href="{{ path('user_new') }}">{% trans %}Create User{% endtrans %}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('blogpost_index') }}">{% trans %}Blogposts{% endtrans %}</a></li>
                            <li><a href="{{ path('blogpost_new') }}">{% trans %}Create Blogpost{% endtrans %}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('tag_index') }}">{% trans %}Tags{% endtrans %}</a></li>
                            <li><a href="{{ path('tag_new') }}">{% trans %}Create Tag{% endtrans %}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>