{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{% trans %}Users{% endtrans %}</h1>
    </div>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Sales{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <span class="label label-default">{{ user.blogpostUser|length }} {% trans %}Blogposts{% endtrans %}</span><br/>
                    <span class="label label-warning">{{ user.earnings|localizedcurrency('EUR') }} {% trans %}earned{% endtrans %}</span><br/>
                    <span class="label label-success">{{ user.paid|localizedcurrency('EUR') }} {% trans %}paid{% endtrans %}</span><br/>
                    <span class="label label-danger">{{ (user.earnings - user.paid)|localizedcurrency('EUR') }} {% trans %}open{% endtrans %}</span>
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('user_edit', { 'id': user.id }) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}