{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{% trans %}Sale{% endtrans %}</h1>
    </div>

    <table class="table table-hover table-condensed">
        <tbody>
            <tr>
                <th>{% trans %}Asin{% endtrans %}</th>
                <td>{{ sale.asin }}</td>
            </tr>
            <tr>
                <th>{% trans %}Category{% endtrans %}</th>
                <td>{{ sale.category }}</td>
            </tr>
            <tr>
                <th>{% trans %}Date{% endtrans %}</th>
                <td>{% if sale.date %}{{ sale.date|localizeddate('medium', 'none') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{% trans %}Rate{% endtrans %}</th>
                <td>{{ sale.rate|localizednumber }}%</td>
            </tr>
            <tr>
                <th>{% trans %}Qty{% endtrans %}</th>
                <td>{{ sale.qty|localizednumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Revenue{% endtrans %}</th>
                <td>{{ sale.revenue|localizedcurrency('EUR') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Earnings{% endtrans %}</th>
                <td>{{ sale.earnings|localizedcurrency('EUR') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Tag{% endtrans %}</th>
                <td>{{ sale.affiliateTag.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ sale.title }}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a type="button" class="btn btn-default btn-xs" href="{{ path('sale_index') }}">{% trans %}back to the list{% endtrans %}</a>
    </p>
{% endblock %}
